server:
  port: 8080
  servlet:
    context-path: /supermartket

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/supermarket"
    username: root
    password: sbqpro2004
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
    show-sql: false
    properties:
      hibernate:
        format_sql: true
jwt:
  signerKey: "e1a566a279df57623ae5da8d0209a877bf05e56918361e65d3848d4f547a7253"